* {
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  color: #ffffff;
  padding: 30px;
  margin: auto;
  width: auto;
  position: relative;
}

/* style variables */
:root {
  --color-light: #f4f4f4;
  --color-dark: #262833;
  --color-dark-transparent: #2628338f;
  --screen-width-large: 900px;
  --screen-width-medium: 700px;
  --screen-width-small: 550px;
}

/* global styles */
html {
  color: #555;
  font-family: Raleway;
  font-size: 62.5%;
  font-weight: 400;
  scroll-behavior: smooth;
}

/* reusable styles */

.hidden {
  opacity: 0;
}

.text_white {
  color: var(--color-light);
}

.section_heading {
  margin: 0rem 0 3rem 0;
  padding-top: 1rem;
  font-size: 3rem;
}

.margin-left {
  margin-left: 3rem;
}

.margin-left-small {
  margin-left: 2px;
}

/* START desktop nav styles */

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  width: 100%;
  top: 0;
  background-color: #262833b0;
  animation-name: move-in-top;
  animation-duration: 1s;
  transition: background 0.5s;
}

.navbg {
  position: absolute;
  top: 0;
  background: #262833;
  transition: background 0.5s;
}

.navigation_list {
  display: flex;
  list-style: none;
  font-weight: 700;
}

.navigation_list a {
  color: #fff;
  margin: 0px 10px;
    padding: 10px 10px;
  text-decoration: none;
}

.navigation_list:last-child {
  margin-right: 2rem;
}

.navigation_list a {
  position: relative;
  font-size: 1.7rem;
}

ul.topBotomBordersIn a:before, ul.topBotomBordersIn a:after
{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #FFF;
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

ul.topBotomBordersIn a:before
{
    top: 0px;
    transform: translateY(-10px);
}

ul.topBotomBordersIn a:after
{
    bottom: 0px;
    transform: translateY(10px);
}

ul.topBotomBordersIn a:hover:before, ul.topBotomBordersIn a:hover:after
{
    opacity: 1;
    transform: translateY(0px);
}

.navigation-mobile_container {
  display: none;
}
/* END desktop nav styles */


.nav-mobile {
  display: none;
}

.nav-mobile_checkbox {
  display: none;
}

.nav-mobile_checkbox:checked ~ .nav-mobile_background {
  transform: scale(80);
}

.nav-mobile_checkbox:checked ~ .nav-mobile_nav {
  display: block;
  width: 100%;
}

.nav-mobile_checkbox:checked + .nav-mobile_btn .nav-mobile_icon::before {
  top: 0;
  transform: rotate(135deg);
}

.nav-mobile_checkbox:checked + .nav-mobile_btn .nav-mobile_icon::after {
  top: 0;
  transform: rotate(-135deg);
}

.nav-mobile_checkbox:checked + .nav-mobile_btn .nav-mobile_icon {
  background-color: transparent;
}

.nav-mobile_btn {
  height: 4rem;
  width: 4rem;
  position: absolute;
  top: 1.5rem;
  right: 4rem;
  z-index: 20;
  cursor: pointer;
}

.nav-mobile_background {
  height: 8rem;
  width: 100%;
  position: absolute;
  background-color: #262833;
  z-index: 10;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

.nav-mobile_nav {
  display: none;
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
  z-index: 15;
  width: 0;
  animation: fade-in 0.5s;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.nav-mobile_list {
  position: relative;
  top: 35%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  list-style: none;
  width: 100%;
}

.nav-mobile_item {
  margin: 1rem;
}

.nav-mobile_link {
  color: #fff;
}

.nav-mobile_link:link,
.nav-mobile_link:link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  text-decoration: none;
  text-transform: uppercase;
  background-size: 220%;
  transition: all 0.4s;
}

.nav-mobile_link:hover,
.nav-mobile_link:active {
  background-position: 100%;
  transform: translateX(1rem);
}

.nav-mobile_icon {
  position: relative;
  margin-top: 2.2rem;
}

.nav-mobile_icon,
.nav-mobile_icon::before,
.nav-mobile_icon::after {
  width: 3.3rem;
  height: 2px;
  background-color: #fff;
  display: block;
}

.nav-mobile_icon::before,
.nav-mobile_icon::after {
  content: "";
  position: absolute;
  transition: all 0.3s;
}

.nav-mobile_icon::before {
  top: -1rem;
}

.nav-mobile_icon::after {
  top: 1rem;
}


/* start of header style*/
.header {
  height: 85vh;
  background-image:linear-gradient(hsla(187, 55%, 64%, 0.63),
  hsla(209, 64%, 43%, 0.63)) , 
  url(../img/silvia.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
}

.landing_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
}

.btn {
  margin: 0 0 7rem 0;
}
  
.btn-primary {
  text-transform: uppercase;
  text-decoration: none;
  padding:.1rem 1rem;
  display: inline-block;
  border-radius: 0.15em;
  transition: all 0.2s;
  position: absolute;
  font-size: 1.3em;
  border: none;
  background-color: #fff;
  color: rgb(51, 153, 148);
  cursor: pointer;
  font-family: inherit;
  max-width: 1080;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  animation-name: fadeIn;
  animation-duration: 4s;
}
  
.btn_primary:hover {
  background-color: #28a0b6;
  color: #fff;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
}

.header-main{
  display: block;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-align: center;
  animation-name: moveinleft;
  animation-duration: 4s;
}

.header-sub{
  display: block;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-align: center;
  animation-name: moveinright;
  animation-duration: 4s;
}

@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  60%{
  }
  100%{
    opacity: 1;
  }
}

@keyframes moveinleft{
  0%{
    opacity: 0;
    transform: translateX(-100px);
  }
  60%{

  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveinright{
  0%{
    opacity: 0;
    transform: translateX(100px);
  }
  60%{

  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}

/* end of header style */

/* social links for the page styles */

.social_links {
  color: white;
  font-size: 3.5rem;
  margin: 1.5rem 0 0 0;
  transition: all 0.5s;
}

.social_links:hover {
  color: lightgray;
}

.social_links:first-child {
  margin-right: 1rem;
}

/* END reusable styles */

/* START animations */

@keyframes move-in-right {
  0% {
    opacity: 0;
    transform: translateX(20rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes move-in-top {
  0% {
    opacity: 0;
    transform: translateY(-4rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes move-in-bottom {
  0% {
    opacity: 0;
    transform: translateY(4rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes bounce {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  from,
  to {
    border-right: 0.2rem solid white;
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* END animations */

/* START skills section styles */

.skills {
  color: rgb(255 255 255);
  grid-column: 1 / span 10;
   background-image:linear-gradient(hsl(187deg 55% 64% / 56%),
  hsl(209deg 64% 43% / 85%));
}

.skills_container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0px 1rem;
  text-align: center;
  padding-top: 4rem;
}

.skills_paragraph-icon {
  height: 5.5rem;
  width: 5.5rem;
}

.skills_title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.skills_box {
  font-size: 1.7rem;
  padding: 4rem 1.5rem 6rem 1.5rem;
}

/* end of skills styles */

/* START project section styles */

.projects {
  margin-top: 5rem;
  grid-column: 1 / span 10;
  color: #262833;
}

.projects_container {
  margin: 0;
}

.row {
  display: grid;
  grid-template-columns: repeat(3, minmax(30rem, 55rem));
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  justify-content: center;
}

.card {
  font-size: 2rem;
  background-color:
    rgba(255, 255, 255, 0.51);
  border-radius: .5em;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  display: grid;
  grid-template-rows: 15vw min-content 1fr minmax(max-content, 17rem);
  color: #262833;
}

.social_links {
  font-size: 4.5rem;
}

.card_picture {
  height: 100%;
  width: 100%;
  border-top-left-radius: .5em;
  border-top-right-radius: .5em;
}

.card_heading {
  color: white;
  margin: 0;
  text-align: center;
  padding: 0 0 0 0;
  background: linear-gradient(315deg, rgb(40, 160, 182), rgba(0, 97, 161, 0.95));
}

.card_description-container {
  padding: 0rem;
  text-align: center;
}

.card_description {
  margin: 4rem;
  font-size: 1.7rem;
}

.card_link-text {
  color: #000;
}

.card_project-links {
  text-align: center;
  align-items: center;
  /* justify-content: space-around; */
}

/*END project section styles */

/* social links for the page styles */

.social_links {
  color: black;
  font-size: 3.5rem;
  margin: 4rem 0 0 0;
  transition: all 0.5s;
}

.social_links:hover {
  color: #818181;
}

.social_links:first-child {
  margin-right: 1rem;
}

/* END social link section styles */

/* START contact me section styles */
.contact-form {
  margin-top: 5rem;
  color: #262833;
}
.contact-form {
  grid-column: 2 / span 10;
}

.contact-form_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form_form-group {
  line-height: 4rem;
}

input,
textarea {
  font-size: 2rem;
  font-family: inherit;
  color: inherit;
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 5px;
  border: none;
  width: 40rem;
  box-shadow: 0 1.5rem 2.5rem rgba(0, 0, 0, 0.2);
  margin-bottom: 1.5rem;
}

label {
  font-size: 1.7rem;
  font-weight: 700;
  display: block;
}

.btn-contact {
  margin-top: 2rem;
  background-image:linear-gradient(hsla(187, 55%, 64%, 0.63),
  hsla(209, 64%, 43%, 0.63)); 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 0.15em;
  cursor: pointer;
}

/* END contact me section styles */

/*START Media  Querys */

@media only screen and (max-width: 950px), only screen and (hover: none) {
  .row {
    grid-template-columns: repeat(2, 1fr);
  }
  .card {
    grid-template-rows: 22vw min-content 1fr minmax(max-content, 23rem);
  }
}

@media only screen and (max-width: 600px), only screen and (hover: none) {
  .row {
    grid-template-columns: 1fr;
  }
  .section_heading {
    margin-left: 0rem;
    text-align: center;
  }
  .card {
    grid-template-rows: 45vw min-content 1fr minmax(max-content, 23rem);
  }
}

@media only screen and (max-width: 550px), only screen and (hover: none) {
  .logo {
    margin-top: 1rem;
  }
  ul.topLeftBorders a:before,
  ul.topLeftBorders a:after {
    position: static;
  }
  .navigation {
    display: none;
  }
  .nav-mobile {
    display: block;
  }
  .heading_primary {
    font-size: 5rem;
    animation: none;
    line-height: 5.5rem;
  }
  /* skills responsive styles */
  .skills_container {
    flex-direction: column;
  }
  .skills_box {
    padding: 0 1.5rem 5rem 1.5rem;
  }
  .dark-overlay {
    display: none;
  }
  input,
  textarea {
    width: 35rem;
  }
}

/*END media queries*/
